.champion {
  display: inline-block;
  width: 100px;
  height: 150px;
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  border: 1px solid gray;
  border-radius: 5px;
} 

.champion:hover {
  background-color: gray;
}

.role {
  margin-bottom: 10px;
  display: inline-block;
  width: 160px;
}

.champions {
  max-height: 800px;
  overflow-y: scroll;
}
