.champion {
  display: inline-block;
  width: 125px;
  height: 150px;
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  border: 1px solid gray;
  border-radius: 5px;
  color: blue;
  font-family: Georgia, serif
} 

.champion:hover {
  background-color: gray;
  color: white;
  width: 150px;
  height: 175px;
}

.champion:selected {
  background-color: gray;
  color: red;
}

.role {
  margin-bottom: 10px;
  display: inline-block;
  width: 160px;
  color: black;
  font-family: Georgia, serif
}

.role:hover {
  font-size: 20;
  width: 200px;
}

.champions {
  max-height: 800px;
  overflow-y: scroll;
}

.page-header {
  color: black;
}

.navbar {
  background-color: black;
  color: white;
  font-family: Georgia, serif
}

.navbar:hover {
  background-color: yellow;
}

body {
  background: url('index.jpeg') center no-repeat;
}
