.champion {
  display: inline-block;
  width: 125px;
  height: 150px;
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: gray;
  color: white;
  font-family: Georgia, serif;
} 

.champion-vertical {
  display: block;
  width: 125px;
  height: 150px;
  cursor: pointer;
  padding: 5px;
  margin: 3px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: gray;
  color: white;
  font-family: Georgia, serif;
}

.champion:hover {
  background-color: white;
  color: black;
}

.role {
  margin-bottom: 10px;
  display: inline-block;
  width: 160px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color: gray;
  font-family: Georgia, serif;
}

.role:hover {
  font-size: 20;
  width: 200px;
}

.champions {
  max-height: 800px;
  overflow-y: scroll;
}

.champion-details {
  height: 150px;
  padding: 10px;
  cursor: pointer;

}

.champion-details:hover {
  background-color: gray;
}

.page-header {
  color: white;
}

.navbar {
  background-color: white;
  color: black;
  font-family: Georgia, serif;
}

.RoleLabel {
  color: gray;
  font-size: 20;
  font-family: Georgia, serif;
}

body {
  background: url('SRFull2.jpg') center no-repeat;
  margin-bottom: 50px;
}

select {
  background-color: gray;
  color: white;
  font-size: 20;
  font-family: Georgia, serif;
}
