<html>
  <head>
    <title>WinLoL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="/static/champion_picker/select_app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/champion_picker/stylePicker.css" type="text/css">
  </head>
  <body ng-app="app" ng-controller="champSelectCtrl">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">League of Legends Champion Picker</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Champions</a></li>
          <li class="active"><a href="#">Team Builder</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="page-header"> Ally Bans</h3>
        <div class="champion" ng-repeat="champion in team1_bans track by $index" ng-click="pickAnyChampion(1, $index)">
          <div style="text-align: left">{{ champion.name }}</div>
          <img ng-show="{{ champion.portrait_image !== null }}" ng-src="{{ champion.portrait_image }}" height="75%">
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="page-header"> Opponent Bans</h3>
        <div class="champion" ng-repeat="champion in team2_bans track by $index" ng-click="pickAnyChampion(2, $index)">
          <div style="text-align: left">{{ champion.name }}</div>
          <img ng-show="{{ champion.portrait_image !== null }}" ng-src="{{ champion.portrait_image }}" height="75%">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="page-header"> Team 1 Champions</h3>
        <div class="row" ng-repeat="champion in team1 track by $index">
          <div class="col-md-8">
            <div class="champion-vertical" ng-click="pickChampion(1, $index)">
              <div style="text-align: left">{{ champion.name }}</div>
              <img ng-show="{{ champion.portrait_image !== null }}" ng-src="{{ champion.portrait_image }}" height="75%">
            </div>
          </div>
          <div class="col-md-4">
          <div class="RoleLabel">
            Role: <span ng-show="typeof(champion) !== 'undefined'">{{ team1_roles[$index] }}</span>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3 class="page-header"> Team 2 Champions</h3>
        <div class="row" ng-repeat="champion in team2 track by $index">
          <div class="col-md-8">
            <div class="champion-vertical" ng-click="pickChampion(2, $index)">
              <div style="text-align: left">{{ champion.name }}</div>
              <img ng-show="{{ champion.portrait_image !== null }}" ng-src="{{ champion.portrait_image }}" height="75%">
            </div>
          </div>
          <div class="col-md-4">
          <div class="RoleLabel">
            Role: <span ng-show="typeof(champion) !== 'undefined'">{{ team2_roles[$index] }}</span>
          </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="champPicker" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <label>Search champions: <input ng-model="searchText"></label>
          </div>
          <div class="modal-body champions">
            <div class="champion"  ng-repeat="champion in champions | filter:searchText" ng-click="banChampion(champion)">
                <div style="text-align: center">{{ champion.name }}</div>
                <img src="{{ champion.portrait_image }}" width="100%" height="75%">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="bestOptionPicker" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <label>Search champions: <input ng-model="searchText"></label>
          </div>
          <div class="modal-body champions">
            <div ng-repeat="(opponent, champions) in bestPicks">
              <h3>Counters for {{ opponent }} <span ng-show="opponent == 'All'" style="cursor: pointer" ng-click="showAll = !showAll">(expand)</span></h3>
              <div class="champion-details" ng-repeat="champion in champions | filter:searchText" ng-click="selectChampion(champion, champion.role_name)" ng-show="opponent != 'All' || showAll">
                <div class="row">
                  <div class="col-md-2">
                    <div style="text-align: center">{{ champion.role1 }} - {{ champion.role_name }}</div>
                    <img src="{{ champion.portrait }}" height="75%">
                  </div>
                  <div class="col-md-10">
                    <br>
                    <div>Win rate: {{ champion.win_rate }}% <span ng-if="champion.role2">against {{ champion.role2 }}</span></div>
                    <div>Kills: {{ champion.kills }}</div>
                    <div>Deaths: {{ champion.deaths }}</div>
                    <div>Assists: {{ champion.assists}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="firstOptionPicker" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <label>Search champions: <input ng-model="searchText"></label>
          </div>
          <div class="modal-body champions">
              <div class="champion-details" ng-repeat="role in firstBestPicks | filter:searchText" ng-click="selectChampion(role, role.name)">
                <div class="row">
                  <div class="col-md-2">
                    <div style="text-align: center">{{ role.champion.name }} - {{ role.name }}</div>
                    <img src="{{ role.champion.portrait_image }}" height="75%">
                  </div>
                  <div class="col-md-10">
                    <br>
                    <div>Win rate: {{ role.win_rate }}%</div>
                    <div>Kills: {{ role.kills }}</div>
                    <div>Deaths: {{ role.deaths }}</div>
                    <div>Assists: {{ role.assists}}</div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="winners" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="winnerLabel">Winner: {{ winner }}</h4>
          </div>
          <div class="modal-body">
            {{ winner }} has a {{ advantage }}% advantage over the other team.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <button ng-show="allPicked" id="calc-winner" class="btn btn-info" ng-click="getWinner()">Calculate Winner!</button>
  </body>
</html>
