<html>
  <head>
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="/static/champion_picker/app.js"></script>
    <link rel="stylesheet" href="/static/champion_picker/style.css" type="text/css">
  </head>
  <body ng-app="app" ng-controller="champInfoCtrl">
    <h3>Select a champion:</h3>
    <div class="champion" ng-repeat="champion in champions" ng-click="selectChampion(champion)">
      {{ champion.name }}
    </div>
    <h3>Champion roles:</h3>
    <div class=role" ng-repeat="role in roles">
      Role: {{ role.name }}
      Win rate: {{ role.win_rate }}%
      Kills: {{ role.kills }}
      Deaths: {{ role.deaths }}
      Assists: {{ role.assists }}
      Minions killed: {{ role.minions_killed }}
    <div>
  </body>
</html>
