<html>
  <head>
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="/static/champion_picker/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/champion_picker/style.css" type="text/css">
  </head>
  <body ng-app="app" ng-controller="champInfoCtrl">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">League of Legends Champion Picker</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Champions</a></li>
          <li><a href="#">Roles</a></li> 
          <li><a href="#">Team Builder</a></li>
        </ul> 
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-3 roles">
          <h3 class="page-header">Champion roles:</h3>
          <div class="role" ng-repeat="role in roles">
            <div>Role: {{ role.name }}</div>
            <div>Win rate: {{ role.win_rate }}%</div>
            <div>Kills: {{ role.kills }}</div>
            <div>Deaths: {{ role.deaths }}</div>
            <div>Assists: {{ role.assists }}</div>
            <div>Minions killed: {{ role.minions_killed }}</div>
          </div>
        </div>
        <div class="col-md-9">
          <h3 class="page-header">Select a champion:</h3>
          <div class="champions">
            <div class="champion" ng-repeat="champion in champions" ng-click="selectChampion(champion)">
              {{ champion.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
